
body {
  font-family: sans-serif;
  padding: 40px;
  background: #f9f9f9;
}
form {
  max-width: 400px;
  margin: auto;
}
input, textarea {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}
button {
  margin-top: 20px;
  background: #00c896;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
